{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>It works!</title>#}
{#</head>#}
{##}
{#<body>#}
{#<h1>Hello, World!</h1>#}
{#<h2>{{ test }}</h2>#}
{% include "base.html" %}

{% block content %}
    {{ simple_class.test|test}}
{#    {% if variables|length == 3 %}#}
{#        <p>Variables: {{ variables|length }}</p>#}
{#    {% else %}#}
{#        {{ variables }}#}
{#    {% endif %}#}

{#{% for v in variables %}#}
{#    <p>{{ v }}</p>#}
{##}
{#{% endfor %}#}
{% block subcontent %}
<sub>Subcontent</sub>
{% endblock %}
{% endblock %}


{#</body>#}
{#</html>#}